/**
{
	margin: 0;
	padding: 0;
	font-family: 'Exo', sans-serif;
}*/

.container-fluid {
    background-color: #f1f2f6;
    border-radius: .7rem;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: Serif;
    font-weight: strong;
}

p {
    text-align: center;
    font-family: Sans-Serif;
    font-size: 20px;
    word-wrap: break-word;
}

.team-section {
    background: #f1f2f6;
    text-align: center;
    border-radius: .7rem;
}

.inner-width {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    color: #333;
    overflow: hidden;
}

.team-section h1 {
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 4px solid;
    padding-bottom: 10px;
}

.pe {
    float: left;
    width: calc(100% / 4);
    overflow: hidden;
    padding: 40px 0;
    transition: 0.4s;
}

.pe:hover {
    background: #dfe4ea;
}

.pe img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.p-name {
    margin: 5px;
    text-transform: uppercase;
}

.p-des {
    font-style: italic;
    color: #3498db;
}

@media screen and (max-width: 960px) {
    .pe {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .pe {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .pe {
        width: 100%;
    }
}